@{
    ViewBag.Title = "Show";
}

@model Lab1.Models.Student

<h2>Show by id</h2>

@using (Html.BeginForm("Show", "Home", FormMethod.Post))
{
    <fieldset>
        <p>
            @Html.LabelFor(m => m.Id, "id")
            <br />
            @Html.EditorFor(m => m.Id)
        </p>
        <p>
            <input type="submit" value="Show" />
        </p>
    </fieldset>
}